<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">	
	<head>
            <title>One of These Days</title>
            <style>@import url('main.css'); </style>
	</head>
	<body>
             <header>
                 <h1><a href='/'>One of These Days</a></h1>
            </header>
            <section>
                {{ content }}
            </section>
            <footer>
                <h5>The thoughts and ramblings of Sam Dalton - Auckland, New Zealand</h5>
                <ul>
                    <li><a href='http://github.com/samdalton' target="_blank">fork me</a></li>
                    <li><a href='http://twitter.com/spdalton' target="_blank">tweet me</a></li>
                    <li><a href='mailto:samdalton.co.nz' target="_blank">e-mail me</a></li>
                    <li><a href='http://last.fm/user/spdalton' target="_blank">let's rock</a></li>
                </ul>
            </footer>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16582890-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
	</body>
</html>
