---
layout: default
---
   <div id='background'></div>
    <div id='container'>
        <table cellspacing=0 cellpadding=0>
  <thead>
    <tr>
        <th class=docs>
            <h2>{{ page.title }}</h2>
            <h5>{{ page.date | date_to_string }}</h5>
        </th>
      <th class=code></th>
    </tr>
</thead>
<tbody>
    {{ content }}
</tbody>
</table>
    </div>
</div>


<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'oneofthesedaysblog'; // required: replace example with your forum shortname

    // The following are highly recommended additional parameters. Remove the slashes in front to use.
    var disqus_identifier = '{{page.id}}';
    var disqus_url = 'http://oneofthesedaysblog.com/{{page.url}}';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
